<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!--  JDBC Driver 클래스와 데이터베이스 연결 설정  -->
    <!--  이 연결 설정에 대한 내용은 XML 안에 직접 작성 X  -->
    <!--  별도의 외부 파일에 작성 & 해당 파일을 property로 가져옴  -->
    <properties resource="./driver.properties"/>

    <!--  MyBatis 실행 설정  -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!--  log 설정  -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--  TypeAlias  -->
    <typeAliases>
        <typeAlias type="org.example.kiwii.vo.WordleQuizVO" alias="WordleQuiz"/>
        <typeAlias type="org.example.kiwii.vo.WordleTrialVO" alias="WordleTrial"/>
        <typeAlias type="org.example.kiwii.vo.WordleWordVO" alias="WordleWord"/>
    </typeAliases>

    <!--  DB 연결 정보  -->
    <environments default="development">
        <environment id="development">
            <!--  TransactionManger를 JDBC로 설정하면
                  수동으로 transaction을 설정한다는 의미
                  commit(), rollback()을 코드에서 제어 => JDBC
                  자동으로 transaction을 제어 => MANAGED
            -->
            <transactionManager type="JDBC"/>
            <!--  Connection Pool 사용 여부  -->
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--  SQL을 작성하는 Mapper 파일의 경로를 지정  -->
    <!--  일반적으로 table 당 1개씩  -->
    <mappers>
        <mapper resource="./sqlMap/wordleQuizzes.xml"/>
        <mapper resource="./sqlMap/wordleTrials.xml"/>
        <mapper resource="./sqlMap/wordleWords.xml"/>
    </mappers>
</configuration>